<div class="container" id="container">


    <div class="form-container sign-up-container align-items-center">
		<form (submit)="onRegisterSubmit()">
			<h1>Create Account</h1>
			
			<div>
				<label for="firstname">First Name</label>
				<input type="text" id="firstname"  [(ngModel)]="user.firstname" name="firstname" placeholder="First Name" />
			</div>
			
			<div>
				<label for="lastname">Last Name</label>
				<input type="text" id="lastname"  [(ngModel)]="user.lastname" name="lastname" placeholder="Last Name" />
			</div>
			
		 	<div>
				<label for="email">Email</label>
				<input type="email" id="email"  [(ngModel)]="user.email" name="email" placeholder="Email" />
			 </div>
			
			 <div>
				<label for="phoneNumber">Phone Number</label>
				<input type="text" id="phoneNumber"  [(ngModel)]="user.phoneNumber" name="phoneNumber" placeholder="Phone Number" />
			 </div>
			 <div>
				<label for="cin">C.I.N</label>
				<input type="text" id="cin"  [(ngModel)]="user.cin" name="cin" placeholder="C.I.N" />
			 </div>
			
			<div>
				<label for="address">Address</label>
			<input type="text" id="address"  [(ngModel)]="user.address" name="naaddressme" placeholder="Address" />
			</div>
			
			<div>
				<label for="username">Username</label>
				<input type="text" id="username"  [(ngModel)]="user.username" name="username" placeholder="Username" />
			</div>
			
			<div>
				<label for="password">Password</label>
				<input type="password" id="password"  [(ngModel)]="user.password" name="password" placeholder="Password" />
			</div>

			<button type="submit" >Sign Up</button>
		</form>

	</div>
	<div class="overlay-container">
		<div class="overlay">
			<div class="overlay-panel overlay-right">
				<h1>Welcome Back!</h1>
				<p>To keep connected with us please login with your personal info</p>
				<button  id="signIn" routerLink="../login">Sign In</button>
			</div>
			
		</div>
	</div>
</div>

