<div class="container">
    <h1>The Market</h1>

    <div class="row">
        <div *ngFor='let announcement of announcements'>
            <div class="col-4 mb-4">
                <div class="card" style="width: 18rem;">
                    <img [src]="announcement.imageUrl" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">   <span>Address:</span> {{announcement.address}}</h5>
                      <p class="card-text">     <span>availability:</span> {{announcement.availability}} </p>
                      <p class="card-text">     <span> Price:</span> {{announcement.price}} dt</p>
                      <p class="card-text">     <span>Date:</span> {{announcement.uploaded | date: 'medium'}} </p>
                      <p class="card-text">     <span>id: </span> {{announcement._id}} </p>

                      <a class="btn btn-primary" (click)="viewItem(announcement)">View Details</a>
                    </div>
                  </div>
            </div>
        </div>
        
    </div>
    

</div>
